

.pagination-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  .pagination {
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
  }
}

.page-link {
    border: 1px solid #00000033 ;
    margin-right: 5px ;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    &:hover {
        color: #000000;
    }
}
.page-item.active {
    & .page-link {
      border: 1px solid #00000033;
      background-color: #88888869 ;
      color: black ;
      box-shadow: none ;
    }
  }

  .next-button , .previous-button {
    cursor: pointer;
    display: block;
    padding: 0;
    img {
        width: 28px;
    }
  }
  .previous-button {
    margin-right: 10px;
  }
  .next-button {
    margin-left: 5px;
  }
  .disabled-button {
    pointer-events: none;
  }
